---
import Layout from "@/layouts/Layout.astro";


const  {pathname} = Astro.url
console.log(pathname)
---


<Layout title="contactos" >

    <section class="mx-auto max-w-screen-2xl" >


    </section>
</Layout>