---
import Layout from "@/layouts/Layout.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import ContactImageSection from "@/components/ContactImageSection.astro";
import ContactInfoSection from "@/components/ContactInfoSection.astro";
import {contactPageData} from "@/data/index.ts";
---


<Layout title="contactos" >
    <section class="w-full" >
        <SectionTitle title={contactPageData.sectionTitle} />
        <main class="mt-10 w-full flex flex-col gap-10">
            <!-- section 1 -->
           <ContactImageSection data={contactPageData.imageSection}/>
            <!-- section 2 -->
           <ContactInfoSection data={contactPageData.infoSection}/>
        </main>
    </section>
</Layout>