---
import Layout from "@/layouts/Layout.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import ContactImageSection from "@/components/ContactImageSection.astro";
import ContactInfoSection from "@/components/ContactInfoSection.astro";
---


<Layout title="contactos" >
    <section class="w-full" >
        <SectionTitle title="Contactos" />
        <main class="mt-10 w-full flex flex-col gap-10">
            <!-- section 1 -->
           <ContactImageSection/>
            <!-- section 2 -->
           <ContactInfoSection/>
        </main>
    </section>
</Layout>