---
import Layout from "@/layouts/Layout.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import { Image } from "astro:assets";
---


<Layout title="contactos" >
    <section class="w-full" >
        <SectionTitle title="Contactos" />
        <main class="mt-10 w-full flex flex-col gap-10">
            <!-- section 1 -->
            <div class="w-full flex flex-col gap-10 px-7 lg:px-0  max-w-screen-lg mx-auto">
            <section>

                <div class="w-full flex flex-col sm:flex-row gap-5">
                    <div class="w-full sm:w-1/2">
                        <Image class="size-full object-cover min-h-44 max-h-80" src="https://via.placeholder.com/500x300" width={500} height={300}  alt="">
                    </div>
                    <div class="w-full sm:w-1/2">
                        <Image class="size-full object-cover min-h-44 max-h-80" src="https://via.placeholder.com/500x300" width={500} height={300}  alt="">
                    </div>
                </div>
                <h4 class="text-base pt-2">lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>   
            </section>
                
                 
                
               
                <div class="flex flex-col md:flex-row gap-5">
                    <div class="w-full">
                        <Image class="w-full object-cover min-h-44 max-h-80" src="https://via.placeholder.com/420x220" width={520} height={220} alt="imagen"/>
                    </div>
                    <div class="w-full md:w-96">
                        <p class="text-base text-balance">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci quos distinctio consectetur enim mollitia autem est! Autem vel soluta illum sed pariatur. Molestiae ratione beatae vero placeat ut perferendis ea.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            
                        </p>
                    </div>
                </div>
            </div>
            <!-- section 2 -->
            <div class="w-full py-20 px-7 bg-gray-950 text-white">
                <div class="w-full flex flex-col gap-8 max-w-screen-lg mx-auto">
                    <div>
                        <h2 class="text-xl font-medium">Texto titulo</h2>
                        <h3 class="text-base">pequena descripcion</h3>
                    </div>

                    <p class="text-base font-normal text-balance">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quisquam consectetur placeat delectus, illo odio quaerat sequi? Quaerat dolor fugiat cum, officia earum, ex, asperiores neque quas a error sint.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quisquam consectetur placeat delectus, illo odio quaerat sequi? Quaerat dolor fugiat cum, officia earum, ex, asperiores neque quas a error sint.</p>

                    <div>
                        <h3 class="text-xl font-normal mb-3">Sombrero Negro</h3>
                        <div class="flex flex-col sm:flex-row gap-1">
                            <span class="block">+56 9 5555 6666</span>
                            <span class="hidden sm:inline">&nbsp;/&nbsp;</span>
                            <span class="block">+56 9 5555 7777</span>
                        </div>
                        <div class="flex flex-col sm:flex-row gap-1">
                            <a class="text-sm min-[375px]:text-base" href="mailto:sombreronegro.contacto@gmail.com">sombreronegro.contacto@gmail.com</a>
                            <span class="hidden sm:inline">-</span>
                            <a class="text-sm min-[375px]:text-base" href="mailto:sombreronegro.contacto@gmail.com">segundocorreo@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
</Layout>