---
import Gallery from '@/components/Gallery.astro';
import Header from '@/components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Estudio de diseño | Sombrero Negro">
	<Header />
	<main class="max-w-screen-2xl mx-auto lg:px-16" >
		<Gallery />
	</main>
</Layout>

