---
import Layout from "@/layouts/Layout.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import DesignerCardsRenderer from "@/components/DesignerCardsRenderer.astro";
---


<Layout title="Nosotros" >
   <section class="mx-auto max-w-screen-2xl" >
      <SectionTitle title="Diseñadores del estudio" subtitle="titulo principal portadas"/>
      <div class="w-full h-72">
         <img class="size-full object-cover object-center" src="https://cdn.artandobject.com/sites/default/files/styles/gallery_item/public/davincivitruvelucviatour-edited.jpg?itok=4Eu82Kyn" alt="">
      </div>
      <main class="w-full flex justify-center bg-gray-950">
         <div class="w-full max-w-screen-lg flex flex-col items-center xl:flex-col gap-10  py-10">
            <DesignerCardsRenderer/>
         </div>
      </main>
    </section>
</Layout>
<!-- <div class="w-full max-w-screen-lg bg-green-300 flex flex-col md:flex-row xl:flex-col md:justify-center items-center gap-20 px-7 py-20"> -->