---
import GalleryProjects from '@/components/GalleryProjects.astro';
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";


const projects =  await getCollection('projects');
const FirstGallery = projects.slice(0, 7)

---


<Layout title="Proyectos">

    <!-- Renderizar un GalleryProject cada 7 proyectos -->
   <section>
    <GalleryProjects projects={FirstGallery} />
   </section>
    <!-- <GalleryProjects projects={SecondGallery} /> -->
</Layout>




