---
import { Image } from "astro:assets"
const { data } = Astro.props
---
 
 <div class="w-full flex flex-col gap-10 px-7 lg:px-0  max-w-screen-lg mx-auto">
      <section>
         <div class="w-full flex flex-col sm:flex-row gap-5">
            <div class="w-full sm:w-1/2">
               <Image class="size-full object-cover min-h-44 max-h-80" src="https://via.placeholder.com/500x300" width={500} height={300}  alt="">
            </div>
            <div class="w-full sm:w-1/2">
               <Image class="size-full object-cover min-h-44 max-h-80" src="https://via.placeholder.com/500x300" width={500} height={300}  alt="">
            </div>
         </div>
         <h4 class="text-base pt-2">lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>   
      </section>
                         
      <div class="flex flex-col md:flex-row gap-5">
         <div class="w-full">
            <Image class="w-full object-cover min-h-44 max-h-80" src="https://via.placeholder.com/420x220" width={520} height={220} alt="imagen"/>
         </div>
         <div class="w-full md:w-96">
            <p class="text-base text-balance">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci quos distinctio consectetur enim mollitia autem est! Autem vel soluta illum sed pariatur. Molestiae ratione beatae vero placeat ut perferendis ea.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
         </div>
      </div>
</div>