---



---

<footer class="w-full flex-1 flex items-end  font-normal text-gray-600 text-sm mt-12" >
  <div class="max-w-screen-2xl mx-auto bg-gray-100  flex items-start justify-between p-5" >

    <div>
      <span>Siguenos en rr.ss.</span>
      <span>&copy; 2024 - Sombreronegro</span>
    </div>

    <div class="uppercase text-xs " >
      <a href="https://www.instagram.com/sombreronegro/" target="_blank">Instagram</a>
      <span> - </span>
      <a href="https://www.facebook.com/sombreronegro/" target="_blank">Facebook</a>
    </div>

  </div>
</footer>