---



---

<footer class="w-full max-md:flex-1 max-md:flex max-md:items-end bg-gray-100 font-normal text-gray-600 text-sm" >
  <div class="max-w-screen-lg mx-auto flex gap-5 items-center justify-between max-xl:px-7 py-5" >

    <div>
      <span>Siguenos en rr.ss.</span>
      <span>&copy; 2024 - Sombreronegro</span>
    </div>

    <div class="uppercase text-xs " >
      <a href="https://www.instagram.com/sombreronegro/" target="_blank">Instagram</a>
      <span> - </span>
      <a href="https://www.facebook.com/sombreronegro/" target="_blank">Facebook</a>
    </div>

  </div>
</footer>