---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
// import Logo from "@/images/logo/sombrero_bajada.svg";  

interface Props {
  projects: CollectionEntry<"projects">[]
}

const { projects } = Astro.props;
const dataProject = projects.map((project) => {
  return project.data
})

console.log(dataProject)
---

<section class="flex flex-col items-center max-w-screen-2xl mx-auto lg:px-16 my-10" >
  <div>
    <Image src={dataProject[0].image} alt={"slider1"} class={"w-full h-full object-cover object-top"}/>
  </div>
  <div>
    <Image src={dataProject[1].image} alt={"slider1"} class={"w-full h-full object-cover object-top"}/>
  </div>
  <div>
    <Image src={dataProject[2].image} alt={"slider1"} class={"w-full h-full object-cover object-top"}/>
  </div>

  <!-- <img src={Logo.src} alt=""> -->
</section>


