---

---

<div class="content mt-10 max-w-screen-xl mx-auto">
  <swiper-container
    class="mySwiper"
    pagination="true"
    pagination-clickable="true"
    space-between="10"
    centered-slides="true"
    autoplay-delay="2500"
    autoplay-disable-on-interaction="false">
    <swiper-slide class="relative">
      <div class="bg-black/25 absolute top-0 left-0 w-full h-full"></div>
      <!-- <Image src={Slider1} alt={"slider1"} class={"w-full h-full object-cover object-center"}/> -->
      <img src="https://placehold.co/1400x500" alt="" />
      <h2
        class="text-white font-extrabold text-5xl max-w-4xl tracking-[0.11em] absolute z-50 text-balance">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sapiente consectetur
      </h2>
    </swiper-slide>

    <swiper-slide class="relative">
      <div class="bg-black/25 absolute top-0 left-0 w-full h-full"></div>
      <!-- <Image src={Slider1} alt={"slider1"} class={"w-full h-full object-cover object-center"}/> -->
      <img src="https://placehold.co/1400x500" alt="" />
      <h2
        class="text-white font-extrabold text-5xl max-w-4xl tracking-[0.11em] absolute z-50 text-balance">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sapiente consectetur
      </h2>
    </swiper-slide>

    <swiper-slide class="relative">
      <div class="bg-black/25 absolute top-0 left-0 w-full h-full"></div>
      <!-- <Image src={Slider1} alt={"slider1"} class={"w-full h-full object-cover object-center"}/> -->
      <img src="https://placehold.co/1400x500" alt="" />
      <h2
        class="text-white font-extrabold text-5xl max-w-4xl tracking-[0.11em] absolute z-50 text-balance">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sapiente consectetur
      </h2>
    </swiper-slide>

    <swiper-slide class="relative">
      <div class="bg-black/25 absolute top-0 left-0 w-full h-full"></div>
      <!-- <Image src={Slider1} alt={"slider1"} class={"w-full h-full object-cover object-center"}/> -->
      <img src="https://placehold.co/1400x500" alt="" />
      <h2
        class="text-white font-extrabold text-5xl max-w-4xl tracking-[0.11em] absolute z-50 text-balance">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sapiente consectetur
      </h2>
    </swiper-slide>
  </swiper-container>
</div>

<style>
  .content {
    position: relative;
    height: 38rem;
  }

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  :root {
    --swiper-pagination-color: rgba(255, 255, 255, 0.5);
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    .content {
      height: 32rem;
    }
  }
  @media screen and (max-width: 640px) {
    .content {
      height: 25rem;
    }
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
