---
import { Image } from "astro:assets";
import Slider1 from "@/images/slider/slider1.webp";
import Slider2 from "@/images/slider/slider2.webp";
import Slider3 from "@/images/slider/slider3.webp";
import Slider4 from "@/images/slider/slider4.webp";

---

    
<div class="content" >
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true"
    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide> 
      <Image src={Slider1} alt={"slider1"} class={"w-full h-full object-cover object-top"}/>
    </swiper-slide>
    <swiper-slide>
      <Image src={Slider2} alt={"slider1"} class={"w-full h-full object-cover object-top"}/>
    </swiper-slide>
    <swiper-slide>
      <Image src={Slider3} alt={"slider1"} class={"w-full h-full object-cover object-top"}/>
    </swiper-slide>
    <swiper-slide>
      <Image src={Slider4} alt={"slider1"} class={"w-full h-full object-cover object-top"}/>
    </swiper-slide>
  </swiper-container>
</div>

<style>

  .content {
    position: relative;
    height: 32rem;

  }

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 :root {
   --swiper-pagination-color: rgba(255, 255, 255, 0.5);
   --swiper-pagination-bullet-inactive-color: #ffffff;
   --swiper-pagination-bullet-inactive-opacity: 1;
   --swiper-pagination-bullet-size: 10px;
   --swiper-pagination-bullet-horizontal-gap: 6px;
   --swiper-pagination-bottom: 20px;

 }
</style>



<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>