---
import { Image } from "astro:assets";
import Slider1 from "@/images/slider/slider1.webp";

---

<div class="swiper w-full h-96" >
  <div class="swiper-wrapper w-full">
    <div class="swiper-slide">
      <Image src={Slider1} alt={"slider1"} class={"w-full h-full object-cover object-center"}/>
    </div>
    <div class="swiper-slide">
      <Image src={Slider1} alt={"slider1"} class={"w-full h-full object-cover object-center"}/>
    </div>
    <div class="swiper-slide">
      <Image src={Slider1} alt={"slider1"} class={"w-full h-full object-cover object-center"}/>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>


<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script is:inline>new Swiper('.swiper',  {
      pagination: {
        el: ".swiper-pagination",
      },
    })</script>