<a href="/proyectos" class="flex flex-col items-center text-xl text-gray-500 hover:text-gray-600 transition-colors animate-bounce ">
	<span>Más Trabajos</span>
	<svg  xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
		<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m19 5.36l-5.763 5.763a1.74 1.74 0 0 1-2.474 0L5 5.36m14 7l-5.763 5.763a1.74 1.74 0 0 1-2.474 0L5 12.36" />
	</svg>
</a>