---
import Logo from "@/images/logo/sombrero_1.svg"
import NavbarLink from "./NavbarLink.astro"

---

<nav class="bg-gray-950 text-white w-full shadow-lg md:px-7 lg:px-0" >

    <ul class="flex items-center justify-center text-lg font-normal w-full gap-x-20" >
        <li>
            <NavbarLink href="/nosotros">Nosotros</NavbarLink>
        </li>
        <li>
          <NavbarLink href="#">Servicios</NavbarLink>
        </li>
        <li>
          <a href="/">
            <img src={Logo.src} alt="" class="size-40 text-current object-contain" >
          </a>
        </li>
        <li>
          <NavbarLink href="/contactos">Contactos</NavbarLink>
        </li>
        <li>
            <NavbarLink href="/proyectos">Proyectos</NavbarLink>
        </li>

    </ul>
</nav>