---
import Logo from "@/images/logo/sombrero_1.svg"


---

<nav class="bg-gray-950 text-white w-full shadow-lg   " >

    <ul class="flex items-center justify-center text-lg font-normal w-full gap-x-20" >
        <li>
            <a href="/nosotros">Nosotros</a>
        </li>
        <li>
          <a href="#">Servicios</a>
        </li>
        <li>
          <a href="/">
            <img src={Logo.src} alt="" class="size-40 text-current object-contain" >
          </a>
        </li>
        <li>
          <a href="/contactos">Contactos</a>
        </li>
        <li>
            <a href="/proyectos">Proyectos</a>
        </li>

    </ul>
</nav>