---
import Logo from "@/images/logo/sombrero_1.svg";
import LogoNoName from "@/images/logo/sombrero_2.svg";
import NavbarLink from "./NavbarLink.astro";
---

<nav
  class="bg-transparent text-black w-full md:px-7 lg:px-0 border-b-4 border-gray-500 max-w-screen-xl mx-auto">
  <ul class="flex items-end justify-center text-lg font-normal w-full gap-x-20 pb-7 pt-5">
    <li>
      <NavbarLink href="/nosotros">Nosotros</NavbarLink>
    </li>
    <li>
      <NavbarLink href="#">Servicios</NavbarLink>
    </li>
    <li>
      <a href="/" class="block min-[800px]:hidden">
        <img
          src={LogoNoName.src}
          alt=""
          class="w-10 h-20 text-current object-contain object-bottom"
        />
      </a>
      <a href="/" class="hidden min-[800px]:block">
        <img src={Logo.src} alt="" class="w-40 text-current object-contain object-bottom" />
      </a>
    </li>
    <li>
      <NavbarLink href="/contactos">Contactos</NavbarLink>
    </li>
    <li>
      <NavbarLink href="/proyectos">Proyectos</NavbarLink>
    </li>
  </ul>
</nav>
