---
import Logo from "@/images/logo/sombrero_1.svg";
import LogoNoName from "@/images/logo/sombrero_2.svg";
import NavbarLink from "./NavbarLink.astro";
---

<nav class="bg-white lg:bg-transparent text-black relative w-full max-w-screen-xl mx-auto">
  <ul
    class="w-full lg:w-[80%] mx-auto bg-white flex items-end justify-center text-lg font-normal gap-x-14 pb-7 pt-5">
    <li>
      <NavbarLink href="/nosotros">Nosotros</NavbarLink>
    </li>
    <li>
      <NavbarLink href="/servicios">Servicios</NavbarLink>
    </li>
    <li>
      <a href="/" class="block min-[800px]:hidden">
        <img
          src={LogoNoName.src}
          alt=""
          class="w-10 h-20 text-current object-contain object-bottom"
          height="80"
        />
      </a>
      <a href="/" class="hidden min-[800px]:block">
        <!-- <img
          src={Logo.src}
          alt=""
          class="w-40 text-current object-contain object-bottom"
          height="80"
        /> -->
        <NavbarLink class={""} href="/">Sombrero Negro</NavbarLink>
      </a>
    </li>
    <li>
      <NavbarLink href="/contactos">Contactos</NavbarLink>
    </li>
    <li>
      <NavbarLink href="/proyectos">Proyectos</NavbarLink>
    </li>
  </ul>
</nav>

<style>
  @media (min-width: 1024px) {
    nav::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 10%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
      z-index: 1;
    }

    nav::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 10%;
      height: 100%;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      z-index: 1;
    }
  }
</style>
