---

import Logo from "@/images/logo/sombrero_bajada.svg"


---


<nav class="bg-gray-950 text-white w-full shadow-lg   " >

    <ul class="flex items-center justify-center text-lg font-normal  h-28 gap-6" >
        <li>
            <a href="/nosotros">Nosotros</a>
        </li>
        <li>
            <a href="/contactos">Contactos</a>
        </li>
        <li>
            <a href="">
                <img src={Logo.src} alt="" class="size-44  object-contain" >
            </a>
        </li>
        <li>
            <a href="/servicios">Servicios</a>
        </li>
        <li>
            <a href="/proyectos">Proyectos</a>
        </li>

    </ul>


</nav>