---
const Menu = [
{
  name: "trabajos",
  url: "/trabajos"
},
{
  name: "nosotros",
  url: "/nosotros"
},
{
  name: "SombreroNegro",
  url: "/"
},
{
  name: "contactos",
  url: "/contacto"

},
{
  name: "galería",
  url: "/galeria"
}]

---

<nav class="w-full py-8 hidden lg:block" >
  <ul class="flex items-center w-full justify-evenly gap-5  font-semibold max-w-screen-2xl mx-auto ">
    {Menu.map((item) => <li><a href={item.url} class="text-decoration-none uppercase text-base" >{item.name}</a></li>)}
  </ul>
</nav>