---
const {title, subtitle} = Astro.props
---
<div class="py-10 px-7">
   <h1 class="text-base min-[375px]:text-lg sm:text-xl font-semibold uppercase tracking-[0.40em]">{title}</h1>
   <h2 class="text-sm min-[375px]:text-base sm:text-lg mt-2 sm:mt-0 font-normal lowercase tracking-[0.30em]">{subtitle}</h2>
</div>