---
import { Image } from "astro:assets";
import type { ServiceCardInterface } from "@/data";

interface Props {
  card: ServiceCardInterface;
}

const {
  card: { bgColor, image, imageAlt, buttonText, biggerCard },
} = Astro.props;
---

<div
  class={`${bgColor}  flex flex-col justify-between  items-center mb-[1rem] ${biggerCard ? ` lg:h-80` : ""}`}>
  <div class="w-full flex justify-center py-5">
    <Image
      class="w-48 h-48 object-contain drop-shadow-xl"
      src={image}
      alt={imageAlt}
      width={300}
      height={300}
    />
  </div>

  <button class="w-full px-8 py-4 bg-gray-900 text-white uppercase tracking-wider"
    >{buttonText}</button
  >
</div>
